.DS_Store
__pycache__
.ipynb_checkpoints
wandb/
artifacts/
logs/
data/
data/
tmp/
recipes/quickstart/inference/local_inference/*.json
recipes/quickstart/inference/local_inference/*.jsonl
recipes/quickstart/inference/local_inference/*.csv
*.sh